<h1 mat-dialog-title>Modification de la compétence</h1>
<form [formGroup]="editSkillForm">
  <div mat-dialog-content>
    <p>Vous pouvez modifier ces champs :</p>

      <mat-form-field appearance="outline">
        <mat-label>Nom de la compétence</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="editSkillForm.controls['name'].errors?.required">Un nom pour la compétence est requis.</mat-error>
      </mat-form-field>

  </div>
  <div mat-dialog-actions class="flex-end">
    <button mat-button (click)="reset()">Annuler</button>
    <button mat-button (click)="submit()" type="submit" color='primary'>Ok</button>
  </div>
</form>
