.card {
    margin-top: 80px;
  }
  
  .card-title-start {
    padding: 16px;
    border-radius: 5px;
    min-height: 70px;
    margin-top: -55px!important;
    display: inline-flex;
    width: -webkit-fill-available;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    background: linear-gradient(to left, #f44336, #5e35b1);
    color: white;
    h1 {
      margin: 0;
    }
  }
.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

 // SNACKBAR INFO
 ::ng-deep snack-bar-container.snackbar-info {
  background: #3949ab;
}

::ng-deep .snackbar-info .mat-simple-snackbar {
  color: white;
}