<mat-card class="card">
  <div class="card-title">
    <h1>Modification de l'Experience #{{id}}</h1>
    <h3>Pour modifier une expérience, renseignez ces champs :</h3>
  </div>
  <mat-card-content class="m-top">
    <form [formGroup]="editExperienceForm">
      <div>
        <mat-grid-list cols="2" rowHeight="145px">
    
          <mat-grid-tile colspan="2">
            <mat-form-field appearance="outline" class="almost-full-width">
              <mat-label>Nom de l'expérience</mat-label>
              <input matInput formControlName="name">
              <mat-icon matSuffix>work</mat-icon>
              <mat-error *ngIf="editExperienceForm.controls['name'].errors?.required">Un nom pour la expérience est requis.
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
    
          
          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>Date de début de l'experience</mat-label>
              <input matInput [matDatepicker]="dpstart" formControlName="startDate" [min]="minDate" [max]="maxDate">
              <mat-datepicker-toggle matSuffix [for]="dpstart"></mat-datepicker-toggle>
              <mat-datepicker #dpstart ></mat-datepicker>
              <mat-error *ngIf="editExperienceForm.controls['startDate'].errors?.required">Une date de début doit être
                renseigné.</mat-error>
              </mat-form-field>
            </mat-grid-tile>
            
            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Date de fin de l'experience</mat-label>
                <input matInput [matDatepicker]="dpend"  formControlName="endDate">
                <mat-datepicker-toggle matSuffix [for]="dpend"></mat-datepicker-toggle>
                <mat-datepicker #dpend></mat-datepicker>
                <mat-error *ngIf="editExperienceForm.controls['endDate'].errors?.required">Une date de fin doit être renseigné.
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            
            <mat-grid-tile colspan="2">
              <mat-form-field appearance="outline" hintLabel="Max 500 caractères" class="full-width">
                <mat-label>Description de l'experience</mat-label>
                <textarea matInput formControlName="description" type="text" maxlength="500" #description rows="5"></textarea>
                <mat-hint align="end">{{description.value?.length || 0}}/500</mat-hint>
                <mat-error *ngIf="editExperienceForm.controls['description'].errors?.maxLength">Vous ne pouvez plu</mat-error>
              </mat-form-field>
            </mat-grid-tile>
    
        </mat-grid-list>
      </div>
      <div class="flex-end">
        <button mat-button (click)="reset()">Annuler</button>
        <button mat-flat-button (click)="submit()" [disabled]="!editExperienceForm.valid" type="submit"
          color='primary'>Ok</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

