.flex-end {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
}

.btn-register{
    margin-left: 10px;
}

.card {
    width: 500px;
    img{
        height: 205px;
        overflow: hidden;
    }
}
.card-connexion {
    max-width: 400px;
}

.card-creation{
    max-width: 500px;
    min-height: 150px;
    img {
        height: 165px;
    }
}
.full-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}
.bg-warning {
    background-color: #ffb300;
}
.card-center {
    margin: 0 auto;
}
.mat-option{
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 30px;
}

  // SNACKBAR ERROR
  ::ng-deep snack-bar-container.snackbar-error {
    background: #ba000d;
  }
  
  ::ng-deep .snackbar-error .mat-simple-snackbar {
    color: white;
  }
  
  // SNACKBAR SUCCESS
  ::ng-deep snack-bar-container.snackbar-success {
    background: #087f23;
  }
  
  ::ng-deep .snackbar-success .mat-simple-snackbar {
    color: white;
  }
  