.card {
    width: 80%;
}
.m-top {
    margin-top: 20px;
}

  // SNACKBAR ERROR
  ::ng-deep snack-bar-container.snackbar-error {
    background: #ba000d;
  }
  
  ::ng-deep .snackbar-error .mat-simple-snackbar {
    color: white;
  }
  
  // SNACKBAR SUCCESS
  ::ng-deep snack-bar-container.snackbar-success {
    background: #087f23;
  }
  
  ::ng-deep .snackbar-success .mat-simple-snackbar {
    color: white;
  }
  