<mat-card class="simple-card">
    <mat-card-header>
      <div mat-card-avatar class="logo-flaticon"></div>
      <mat-card-title>Un grand merci 🙏</mat-card-title>
      <mat-card-subtitle>Toutes les icones (et images) de cette application ont été récupérées sur Flaticon !</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    <h3>Le message posté ci-dessous est pour aider les développeurs qui sont en qûetes d'icones ! 🔎 </h3>
    <p class="mat-h2 text-center"> 🏆 Icons made by <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> from www.flaticon.com  🏆</p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-flat-button color="warn" href="https://www.flaticon.com/" title="Flaticon" target="blank" class="full-width"> Jeter un coup d'👀</a>
    </mat-card-actions>
</mat-card>